#content-home {
  background-color: #282c33;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.first_content {
  width: 100%;
  min-height: 423px;
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.first_content_left {
  height: 100%;
  display: flex;
  width: 50%;
  align-items: center;
}

.first_content_right {
  height: 100%;
  width: 50%;
}
.first_content_right img{
  width: 100%;
  object-fit: cover;
}

.short_presentation {
  display: flex;
  flex-direction: column;
}

.presentation {
  font-family: "FiraCode SemiBold";
  color: white;
  font-size: 18px;
}

span {
  color: #c778dd;
}

.presentation2 {
  color: #abb2bf;
  font-family: "FiraCode Regular";
  font-size: 16px;
}

.contactMe button {
  border: solid 1px #c778dd;
  background-color: #282c33;
  padding: 10px;
  text-decoration: none;
}

.contactMe a {
  color: #fff;
  text-decoration: none;
  font-family: "FiraCode Medium";
  padding: 8px 16px;
  border: solid 1px #c778dd;
}

.contactMe :hover {
  transition: 300ms;
  background-color: #c778dd51;
}

.first_content_right {
  width: 456px;
  min-height: 386px;
  padding: 16px;
}

.citation {
  margin-top: 69px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.citation img{
  width: 100%;
  max-width: 1100px;

}


.project {
  margin-top: 106px;
  width: 100%;
  min-height: 518px;
}

.project {
  display: flex;
  flex-direction: column;
}

.header_project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "FiraCode Medium";
  font-size: 32px;
  color: #ffff;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.line_title {
  width: 311px;
  min-height: 0px;
  border: #c778dd solid 1px;
}

.view_all a {
  font-family: "FiraCode Medium";
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.project_all {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill_all {
  margin-top: 106px;
  width: 100%;

}

.skill_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.skill_all_left {
  /* width: 45%; */
  height: 100%;
}

.skill_all_right {
  max-width: 584px;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.aboutMe {
  width: 100%;
  min-height: 508px;
  margin-top: 112px;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

.aboutMe_content p {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
  width: 100%;
  margin-left: 10px;
  height: auto;
  line-height: 30px;
}


.aboutMe_right img {
  width: 100%;

  /* margin-left: 20%; */
}

.contacts {
  margin-top: 112px;
}

.contact_content {
  display: flex;
  justify-content: space-between;
}

.contact_left {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
  line-height: 30px;
  width: 40%;
}

.contact_right {
  border: #abb2bf 1px solid;
  width: auto;
  height: auto;
  padding: 10px;
}

.contact_right a :hover{
  color: white;
}

.my_mail {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
}

.my_discord {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
}

.contact_right a{
  text-decoration: none;
}

.title_contact_right {
  font-family: "FiraCode Semibold";
  font-size: 16px;
  color: white;
  
}

.discord {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mail {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media screen and (min-width:1000px) {
  .aboutMe_right img {
  width: 100%;

   margin-left: 20%; 
}
.aboutMe {
  display: flex; 
  flex-wrap: nowrap;
  justify-content: center;
}
}
@media screen and (max-width:1000px) {
.contact_content{
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.first_content_left{
  width: 90%;
}
.contact_left {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
  line-height: 30px;
  width: 100%;
  text-align: start;
}
.skill_all_right{
  width: 100%;
  display: flex;
  justify-content: center;
}
.aboutMe_right img {
  width: 70%;
}
.aboutMe_right {
  display: flex;
  justify-content: center;
}
.line_title{
  width: 100%;
}
.title p {
  min-width: 140px;
}
}