.card {
  width: 331px;
  border: 1px #abb2bf solid;
  padding-bottom: 30px;
}

.imgcontenair {
  width: 100%;
  height: 201px;
  border: 1px #abb2bf solid;
}

.language {
  width: 93.5%;
  height: 37px;
  border: 1px #abb2bf solid;
  font-family: "FiraCode Regular";
  color: #abb2bf;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.title {
  font-family: "FiraCode Medium";
  font-size: 24px;
  color: #ffff;
  padding: 0 10px;
  padding-top: 10px;
}

.description {
  font-family: "FiraCode Regular";
  font-size: 16px;
  color: #abb2bf;
  padding: 0 10px;
}

.redirection a {
  font-family: "FiraCode Medium";
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  margin: 8px;
  padding: 8px 16px;
  border: solid 1px #c778dd;
}

.redirection :hover {
  transition: 300ms;
  background-color: #c778dd51;
}

.redirection {
  background-color: #282c33;
  margin-top: 20px;
  margin-left: 5px;
}

.img{
    height: 100%;
    width: 100%;
    background-size:cover;
}

