#content-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  background-color: #282c33;
  display: flex;
  justify-content: space-between;
  width: 1050px;
  align-items: center;
  position: fixed;
}

.left {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  justify-content: center;
  color: white;
  font-family: "FiraCode-Bold";
  font-size: 16px;
  align-items: center;
}

.left img{
  width: 16px;
  height: 16px;
}

.right {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  color: white;
}

.right a {
  color: white;
  font-family: "FiraCode Medium";
  font-size: 16px;
  text-decoration: none;
  justify-content: center;
}

.right a[href=""]::first-letter {
  color: #c778dd;
}
